# ───────────── Python ─────────────
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# ───────────── Node ─────────────
node_modules/
dist/
build/

# ───────────── Logs ─────────────
*.log

# ───────────── OS ─────────────
.DS_Store

# ───────────── IDE ─────────────
.vscode/
.idea/

# ───────────── DB ─────────────
*.db
*.sqlite3